<header
  class="fixed top-0 z-50 w-full border-b border-slate-800/50 bg-[#050A13]/70 backdrop-blur-xl">

  <div
    class="mx-auto flex max-w-7xl items-center justify-between px-6 py-5">

    <div>

      <h1
        class="text-3xl font-black text-sky-400">

        C&lt;&gt;defy

      </h1>

      <p
        class="-mt-1 text-xs uppercase tracking-[3px] text-slate-500">

        Software Factory

      </p>

    </div>

    <nav
      class="hidden gap-10 text-sm lg:flex">

      <a href="#servicios" class="transition hover:text-sky-400">

        Servicios

      </a>

      <a href="#tecnologias" class="transition hover:text-sky-400">

        Tecnologías

      </a>

      <a href="#contacto" class="transition hover:text-sky-400">

        Contacto

      </a>

    </nav>

    <a
      href="https://wa.me/543765050224?text=Hola%20Codefy,%20quiero%20información."
      target="_blank"
      class="rounded-xl bg-sky-500 px-6 py-3 font-semibold transition hover:bg-sky-400">

      Solicitar Presupuesto

    </a>

  </div>

</header>